## Pandas Series

Series is nothing but an array with named index. Using this named index we can grab the data from the array

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels = ['a', 'b', 'c']
mylist = [10, 20, 30]
arr = np.array([10, 20, 30])
dict_ = {'a': 10, 'b':20, 'c':30}

In [ ]:
pd.Series(data= mylist, index=None) # converting a python list to pandas series

In [ ]:
pd.Series(data= mylist, index=labels) # converting a python list to pandas series with index labels

In [ ]:
pd.Series(data=arr) # converting a numpy array to pandas series

In [ ]:
pd.Series(data=arr, index=labels)  # converting a numpy array to pandas series with index lables

In [ ]:
pd.Series(dict_)  # converting a dictionary to pandas series

In [ ]:
salesQ1 = pd.Series(data=[20,30,40,50], index=['IN','USA','NZ', 'BRA'])

In [ ]:
salesQ1

In [ ]:
salesQ2 = pd.Series(data=[200,400,300,345], index=['IN','USA','NZ','CHA'])

In [ ]:
salesQ2

In [ ]:
salesQ2['IN']  # Getting india sells based on the index lable name

In [ ]:
salesQ2[0] # Getting india sells based on the integer index of labels

In [ ]:
salesQ2[4] # invalid key

In [ ]:
salesQ1 + salesQ2  # we will get the NaN for the lables for which information is not available in both series
                   # note: we ca change this behaviour

## Pandas DataFrame

multiple pandas series that shares the same index, think of it as spreadsheet but much more powerfu;.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
column = ['w','x','y','z']  # features or lables or columns
index = ['a','b','c','d','e']

In [ ]:
from numpy.random import randint

In [ ]:
np.random.seed(42)
data =randint(-100, 100, size = (5, 4))

In [ ]:
data

In [ ]:
df = pd.DataFrame(data=data, index=index, columns=column)

In [ ]:
df

In [ ]:
df['w'], type(df['w'])  # selecting the whole column (this is  series)

In [ ]:
df[['w','z']]  # selecting multiple columns (this will return dataframe)

In [ ]:
df['new'] = df['w'] + df['y']  # adding a new column

In [ ]:
df

In [ ]:
df.drop(labels='new', axis=1)  # not an inplace dropping

In [ ]:
df = df.drop(labels='new', axis=1)

In [ ]:
df

In [ ]:
df.loc['a']  # selecting a raw based on index label name, ruturn a series

In [ ]:
df.loc[['a','e']]

In [ ]:
df.iloc[0] # selecting a row based on integer index, ruturn a series

In [ ]:
df.iloc[-1]  #last row

In [ ]:
df.iloc[1:4] # selecting row 1 to 3

In [ ]:
df.drop('c', axis=0)  #dropping a row

In [ ]:
df.loc['a','w']  # selecting a value from the dataframe (from row 'a', column 'w')

In [ ]:
df.loc[['a','c'],'w'] # selecting row values of a same column

In [ ]:
df.loc[['a','c'],['w','z']]  # selecting multiple values of muliple columns

In [ ]:
df > 0  # selecitng df based on some condition

In [ ]:
df[df>0]  # filtering the dataframe based on some condition, we will get NaN where this condition does not met

In [ ]:
df

In [ ]:
df['x']>0

In [ ]:
df[df['x']>0]  ## selecting all the raws where 'x' column vlaues is greater than zero, return a dataframe

In [ ]:
df[df['x']>0]['w']

In [ ]:
df[df['x']>0]['w']['a']

In [ ]:
df[(df['x']>0) & (df['w']>2)]  ## filtering based on multiple conditions but using and (&) condition

In [ ]:
df[(df['x']>0) | (df['w']>2)]  #3 filtering based on multiple condition but using or (|) operation.

In [ ]:
df.reset_index()  # this will create a new column with the original index in a column named 'index' and it will replace the old
                    # index with integer numbers

In [ ]:
new_index=['AA','BB','CC','DD','EE']

In [ ]:
df['new_index'] = new_index

In [ ]:
df.set_index('new_index')  # it will set the provided column name as new index, if not found will throw an exception

In [ ]:
df = df.set_index('new_index')

In [ ]:
df.index  # getting the index names

In [ ]:
df.columns    # getting column names

In [ ]:
df.describe()  ## return the count ,mean,std, min and percentile of each column

### deal with missing data

based on our business or product goals we need to remove the missing data or fill the mssing data with mean, median, or with some other strategy or we can keep it.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'a':[1,2,np.nan],
                  'b':[2,np.nan,7],
                  'c':[6,np.nan,np.nan]})

In [ ]:
df

In [ ]:
df.isnull()  ## checking if the nan value is present or not

In [ ]:
df.isna()  # alias of isnull()

In [ ]:
df.isnull().any() #3 return ture if a column contains any missing vlaues

In [ ]:
df.isna().any()

In [ ]:
df.isna().all()  #3 will return true if all the values in a column is missing else false

In [ ]:
df.isna().sum()  # retunr how many missing values in each column?

In [ ]:
df.dropna()  # drop all the raws that ciontains the missing data

In [ ]:
df

In [ ]:
df.dropna(axis=1)  # drop all the columns that contrains the missing data

In [ ]:
df.dropna(axis=1, how='all')  # drop all the column which contains all the values as NaN

In [ ]:
df.dropna(axis=1, how='any', thresh=2)  # drop all the column which contains atleaset 2 NaN value

In [ ]:
df.fillna(value='fillvalue') #3 filling the NaN value as 'fillvalue' string

In [ ]:
df.fillna(value=0) # filling the NaN value as 0

In [ ]:
df['a'].fillna(value=0)

In [ ]:
  df['a'].fillna(value=df['a'].mean()) # filling the value with column mean

In [ ]:
df.fillna(value=df.mean())  # filling the vlaue with df mean

#### groupby

often we want to how vlaues are distributed or aggregated across groups, so thats why we use the groupby method.

<b>Note: often this is also known as ``split-apply-combine``` technique.

the operation with groupby  call must be an aggregation method. this means that it can take multiple values and combined them to return a single vlaue. example: sum, mean, count, max etc.

In [ ]:
data = pd.read_csv('Universities.csv')

In [ ]:
data.head()  #3 shwoing top 5 rows of dataframe

In [ ]:
data.dtypes  #3 return the data type of each column

In [ ]:
data.groupby('Year')

In [ ]:
data.groupby('Year').sum()  # return completions acroos each year

In [ ]:
data.groupby('Year').mean() # return avg completions accross each year,  it wil return a dataframe

In [ ]:
type(data.groupby('Year').mean())

** Some other aggregate functions in pandas

<table><td><tt
><span
>count</span></tt></td><td>Number of non-null observations</td></tr><tr
><td><tt
><span
>sum</span></tt></td><td>Sum of values</td></tr><tr
><td><tt
><span
>mean</span></tt></td><td>Mean of values</td></tr><tr
><td><tt
><span
>mad</span></tt></td><td>Mean absolute deviation</td></tr><tr
><td><tt
><span
>median</span></tt></td><td>Arithmetic median of values</td></tr><tr
><td><tt
><span
>min</span></tt></td><td>Minimum</td></tr><tr
><td><tt
><span
>max</span></tt></td><td>Maximum</td></tr><tr
><td><tt
><span
>mode</span></tt></td><td>Mode</td></tr><tr
><td><tt
><span
>abs</span></tt></td><td>Absolute Value</td></tr><tr
><td><tt
><span
>prod</span></tt></td><td>Product of values</td></tr><tr
><td><tt
><span
>std</span></tt></td><td>Unbiased standard deviation</td></tr><tr
><td><tt
><span
>var</span></tt></td><td>Unbiased variance</td></tr><tr
><td><tt
><span
>sem</span></tt></td><td>Unbiased standard error of the mean</td></tr><tr
><td><tt
><span
>skew</span></tt></td><td>Unbiased skewness (3rd moment)</td></tr><tr
><td><tt
><span
>kurt</span></tt></td><td>Unbiased kurtosis (4th moment)</td></tr><tr
><td><tt
><span
>quantile</span></tt></td><td>Sample quantile (value at %)</td></tr><tr
><td><tt
><span
>cumsum</span></tt></td><td>Cumulative sum</td></tr><tr
><td><tt
><span
>cumprod</span></tt></td><td>Cumulative product</td></tr><tr
><td><tt
><span
>cummax</span></tt></td><td>Cumulative maximum</td></tr><tr
><td><tt
><span
>cummin</span></tt></td><td>Cumulative minimum</td></tr></tbody></table>

In [ ]:
data.head()

In [ ]:
data.groupby(['Year','Sector']).sum()

In [ ]:
data.groupby('Year').describe()

In [ ]:
data.groupby('Year').describe().transpose()

#### some useful operations in pandas

In [ ]:
import pandas as pd
df_one = pd.DataFrame({'k1':['A','A','B','B','C','C'],
                      'col1':[100,200,300,300,400,500],
                      'col2':['NY','CA','WA','WA','AK','NV']})

In [ ]:
df_one

In [ ]:
df_one.info()

In [ ]:
df_one.describe()

In [ ]:
df_one['col1'].unique()  ## unique value in a column

In [ ]:
df_one['col1'].nunique() ## total number of unique value in a column

In [ ]:
df_one['col1'].value_counts()  # number of counts per unique value
                                # df_one.groupby('col1')['col1'].count() alsome asame as this

In [ ]:
df_one.drop_duplicates()  # it will drop the duplicates

In [ ]:
df_one['New Col'] = df_one['col1'] * 10  # creating a new col by multiplying 'col1' by 10

In [ ]:
df_one

In [ ]:
def grab_first_letter(state):
    # Given a state, return the first letter
    return state[0]

In [ ]:
grab_first_letter('NY')

In [ ]:
# Notice we only pass the function, we don't call it with ()
df_one['col2'].apply(grab_first_letter)  # using apply function

In [ ]:
df_one['first letter'] = df_one['col2'].apply(grab_first_letter)

In [ ]:
df_one

In [ ]:
def complex_letter(state):
    
    if state[0] == "W":
        return "Washington"
    else:
        return 'Error'

In [ ]:
df_one['State Check'] = df_one['col2'].apply(complex_letter)

In [ ]:
df_one

In [ ]:
# WATCH OUT FOR DATA TYPE ERRORS!
# You can't index numbers!
df_one['col1'].apply(complex_letter)  # this will throw an error because we are trying to get the first letter of an int.

In [ ]:
df_one['k1']

In [ ]:
df_one['k1'].map({'A':1,'B':2,'C':3})

In [ ]:
df_one

In [ ]:
df_one['col1'].max() , df_one['col1'].idxmax()  ## getting the max value and it's index

In [ ]:
df_one['col1'].min() , df_one['col1'].idxmin()  ## getting the min value and it's index

In [ ]:
df_one.index

In [ ]:
df_one.columns

In [ ]:
df_one.sort_values('col2')

##### concatenating DataFrame

In [ ]:
features = pd.DataFrame({'A':[100,200,300,400,500],
                        'B':[12,13,14,15,16]})
predictions = pd.DataFrame({'pred':[0,1,1,0,1]})

In [ ]:
features

In [ ]:
predictions

In [ ]:
# Pay careful attention to the axis parameter!
pd.concat([features,predictions])  # concenating dataframes

In [ ]:
pd.concat([features,predictions],axis=1)

In [ ]:
df_one.columns = ['C1','C2','C3','C4','C5','C6']
df_one

In [ ]:
### getting dummy values
pd.get_dummies(df_one['C1'])  ## for each category it will create a column and it will fill ones where it was present else zero

# Data Input and Output

## Check out the references here! 

**This is the best online resource for how to read/write to a variety of data sources!**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

----
----

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

## CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd  or pip install xlrd
    conda install openpyxl  or pip install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

### Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

In [ ]:
pwd  # prit your current directory

In [ ]:
ls

In [ ]:
df = pd.read_csv('example.csv')
df

## HTML

Pandas can read table tabs off of HTML. This only works if your firewall isnb't blocking pandas from accessing the internet!

Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml or pip install lxml
    conda install html5lib or pip install html5lib
    conda install beautifulsoup4 or pip install beautifulsoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

In [ ]:
# !pip install html5lib

In [ ]:
tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
tables[0].head()